@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("//cdn.web-fonts.ge/fonts/bpg-algeti-compact/css/bpg-algeti-compact.min.css");

body, html {
    font-family: "BPG Algeti Compact", sans-serif;
    background-image: linear-gradient(114.95deg, rgba(235, 0, 255, 0.5) 0%, rgba(0, 71, 255, 0) 34.35%), linear-gradient(180deg, #004B5B 0%, #FFA7A7 100%), linear-gradient(244.35deg, #FFB26A 0%, #3676B1 50.58%, #00A3FF 100%), linear-gradient(244.35deg, #FFFFFF 0%, #004A74 49.48%, #FF0000 100%), radial-gradient(100% 233.99% at 0% 100%, #B70000 0%, #AD00FF 100%), linear-gradient(307.27deg, #1DAC92 0.37%, #2800C6 100%), radial-gradient(100% 140% at 100% 0%, #EAFF6B 0%, #006C7A 57.29%, #2200AA 100%);
    background-blend-mode: hard-light, overlay, overlay, overlay, difference, difference, normal;
    
    
   min-height: 100vh;
}

.line {
    position: relative;
}

.line::after {
    position: absolute;
    content: "";
    width: 0%;
    height: 2px;
    background-color: #fff;
    left: 0;
    bottom: -10px;
    transition: all 0.9s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

nav a:hover::after {
    width: 100%;
}


.login {

   
    
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.enter {
    background-image: linear-gradient(to right, rgb(55, 65, 81), rgb(17, 24, 39), rgb(0, 0, 0));

}