@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/marhey');

body, html {
   
                                            
    font-family: 'Marhey', sans-serif;
   min-height: 100vh;
   background-repeat: no-repeat;
   background-size: cover;


}

.back {
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
}
     

.line {
    position: relative;
}

.line::after {
    position: absolute;
    content: "";
    height: 1.5px;
    width: 0%;
    background-color: #fff;
    left: 0;
    bottom: -3px;
    transition: width 0.9s cubic-bezier(0.23, 1, 0.320, 1);

}

.line:hover::after {
    width: 100%;
}

.fullLine {
    position: relative;
}

.fullLine::after {
    position: absolute;
    content: "";
    height: 1.5px;
    width: 100%;
    background-color: #fff;
    left: 0;
    bottom: -3px;
    

}

